<p>Send MMS</p>

<div class="card mt-5 w-auto h-auto">

  <div>
    <h1 class="ms-2 mb-5">
      Send MMS
    </h1>

    <div class="container-fluid ">
      <form>
        <div class="card-block">
  
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">From</label>
            <input type="string" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="mms_messageFrom" name="mms_messageFrom">
            
          </div>


          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">To</label>
            <input type="string" class="form-control" id="exampleInputPassword1" 
            placeholder="+923002933101,+93220113331" [(ngModel)]="mms_messageTo" name="mms_messageTo">
          </div>

          <div class=" d-flex">
            <div class="check">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="scheduler_mms" (click)="onScheduler_mms()">
                <label class="form-check-label" for="flexCheckDefault">
                </label>
              </div>
            </div>
            <label for="schedule_input_mms" class="form-label" id="schedule_input_mms1">Schedule</label>
          </div>

          <div class=""  *ngIf="shouldScheduleMMSMessage == 1">
            <input class="form-control" id="schedule_input_mms_date" placeholder="Choose a Date" matInput [matDatepicker]="picker" (click)="picker.open()" [(ngModel)] = "this.mmsPickedDate" [ngModelOptions]="{standalone: true}" readonly>
            <mat-datepicker #picker></mat-datepicker>
            <input class="form-control" id="schedule_input_mms_time" placeholder="Choose a Time" aria-label="default time" [ngxTimepicker]="defaultValue" [value]="'23:15'" [(ngModel)] = "this.mmsPickedTime" [ngModelOptions]="{standalone: true}" readonly>
            <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
          </div>

          <div class="mt-1 mb-4">
            <label for="subject" class="form-label">Subject</label>

            <input type="string" class="form-control" id="message" placeholder="Type your subject" [(ngModel)]="this.mms_message_subject" name="mms_message_subject">

          </div>

          <div class="mt-2">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupFile01">Upload</label>

              <input type="file" class="form-control" id="inputGroupFile01" (change)="onFileSelected($event)">

              

            </div>
          </div>

          <div class="mt-1 mb-2">
            <label for="exampleInputPassword1" class="form-label">Message</label>

            <textarea type="string" class="form-control" id="message" placeholder="Type your message" [(ngModel)]="this.mms_message" name="mms_message">

            </textarea>

          </div>

          <button  type="submit" class="btn btn-primary mb-1" (click)="actionSendMMS()" >Send</button>
  
        </div>
      </form>

    </div>



  </div>

</div>

