
  <div class="card mt-5 p-1 w-auto h-auto" >
    <h1 class="mb-3">
      Messages
    </h1>
    

    <div class="row p-1">

      <div class="col-4">
        <label for="selects"> Select Devices</label>
        <select class="form-select form-select-sm me-auto" id="selects" aria-label=".form-select-sm example" 
        (change)="onSubscribedDeviceChange($event)">
          <option selected [value]="-1" [ngValue]="-1">Select a Device</option>
          <option selected *ngFor="let sd of this.subscribedDevices" 
          [value]="sd.id"
          [ngValue]="sd.id"
          [selected]="sd.device == 'NONE'">
            {{sd.device}}
          </option>
        </select>
      </div>

      <div class="col-4">
        <label for="selects1"> Status</label>
        <select class="form-select form-select-sm me-auto" id="selects1" aria-label=".form-select-sm example" [disabled]="selectedRemoteMessages == 1" 
        (change)="onMessageStatusTypeChange($event)">
          <option selected value="ALL">All</option>
          <option value="COMPLETED">Completed</option>
          <option value="SENT">Sent</option>
        </select>
      </div>

      <div class="col-4">
        <label for="selects1"> Type</label>
        <select class="form-select form-select-sm me-auto" id="selects1" aria-label=".form-select-sm example"[disabled]="selectedRemoteMessages == 1" 
         (change)="onMessageTypeChange($event)">
          <option selected value="ALL">All</option>
          <option value="SMS">SMS</option>
          <option value="MMS">MMS</option>
          
        </select>
      </div>
    </div>

    <div class="row d-inline-flex">

      
        <div class="col-sm-3">
          <label for="selects1"> Mobile Number</label>
          <select class="form-select form-select-sm me-auto" id="selects1" aria-label=".form-select-sm example" 
          [disabled]="selectedRemoteMessages == 0"
          (change)="simSelectionChangeHandler($event)">
            <option selected *ngFor="let s of this.sims" 
              [value]="s.number"
              [ngValue]="s.number"
              [selected]="s.number == 'NONE'">
                {{s.number}}
            </option>
          </select>
        </div>
        

        <div class="col-sm-3">
          <label for="selects1"> Messages</label>
          <select class="form-select form-select-sm me-auto" id="selects1" aria-label=".form-select-sm example"
           [disabled]="selectedRemoteMessages == 1">
            <option selected>All</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
     

      <div class="ol-sm-3" (click)="picker.open() ">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input class="form-control" id="start_date" [disabled]="selectedRemoteMessages == 1" matStartDate placeholder="Start date"  [(ngModel)] = "this.messageFrom" [ngModelOptions]="{standalone: true}" readonly>
            <input class="form-control" id="end_date" [disabled]="selectedRemoteMessages == 1" matEndDate placeholder="End date"  [(ngModel)] = "this.messageTo" [ngModelOptions]="{standalone: true}" readonly>
          </mat-date-range-input>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

      </div>
      <div>
        <mat-paginator 
        [length]="this.search_param_page_length" 
        [pageSize]="this.search_param_page_size"
        [pageSizeOptions]="[15, 30, 60]"
        (page)="getPaginatorData($event)"
        (pageIndex)="this.search_param_page_index"
        showFirstLastButtons="false"
        aria-label="Select page">
        </mat-paginator>
      </div>
    </div>


<div class="d-flex">

  <button class="btn btn-primary ms-1 mt-1 mb-1 me-1" (click)="actionSearch()">
    Search
  </button>

  <button class="btn btn-warning ms-1 mt-1 mb-1 me-1" (click)="openExportDialog()">
    Export 
  </button>

  <button class="btn btn-info ms-1 mt-1 mb-1 me-1" (click)="actionResendMessages()">
    Resend
  </button>

  <button class="btn btn-primary ms-1 mt-1 mb-1 me-1">
    Remove
  </button>




</div>



  </div>

  <div class="card mt-2 w-auto h-auto " *ngIf="filtered_history_array.length table-responsive">
    <table>
      <tr>
        <th>
        </th>
        <th>
          Message ID
        </th>
        <th>
          From
        </th>
        <th>
          To
        </th>
        <th>
          Date
        </th>
        <th>
          Type
        </th>
        <th>
          Body
        </th>
        <th>
          Status
        </th>
        <th>
          Action
        </th>
      </tr>
      <tr *ngFor="let sms of (this.filtered_history_array)">
        <td>
          <div class=" d-flex">
            <div class="check">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{sms.message_id}}" id="{{sms.message_id}}" (click)="onScheduler_resend($event)">
              </div>
            </div>
          </div>
        </td>
        <td>
          {{sms.message_id}}
        </td>
        <td>
          {{sms.from}}
        </td>
        <td>
         {{sms.to}}
        </td>
        <td>
          {{sms.date}}
        </td>
        <td>
          {{sms.message_type}}
        </td>
        <td>
          {{sms.body}}
        </td>
        <td>
          {{sms.status}}
        </td>
        <td>
          <a >View Details</a>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf = "filtered_history_array.length==0">
    <p>No Records Found</p>
  </div>
