
<div class="container h-auto p-2">
    <div class="row align-items-center h-100 p-2">
        <div class="col-12 mx-auto ">
          <div class="card h-auto shadow-sm p-3 mb-5 bg-white rounded border-primary justify-content-center">
            <div class="d-flex">

                <div class="d-flex">
                  <h3 class="ms-1 mt-2">
                    Show
                  </h3>
                  <select class="form-select form-select-sm mb-1 ms-1 me-1" aria-label=".form-select-sm example">
                    <option selected>15</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
            
                  <h4 class="me-2 mt-2 ">
                    entries 
                  </h4>
            
            
            
                </div>
            
                <div class="ms-auto">
            
                  <div class="d-flex ms-auto"> 
                    <label for="exampleDataList" class="form-label mt-2">Search</label>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                    <datalist id="datalistOptions">
                      <option value="San Francisco">
                      <option value="New York">
                      <option value="Seattle">
                      <option value="Los Angeles">
                      <option value="Chicago">
                    </datalist>
                  </div>
            
                </div>
            
              </div>

            <div class="card mt-1 w-auto h-auto">
                <table>
                  <tr>
              
                    <th>
                     Invoice no.
                    </th>
              
                    <th>
                      Amount
                    </th>

                    <th>
                      Currency
                     </th>
               
                     <th>
                       Date
                     </th>
                  </tr>
              
                  <tr *ngFor="let trans of transaction_resp_data1">
                    <td>
                      {{trans?.invoice_number}}
                    </td>
              
                    <td>
                      {{trans?.amount}}
                    </td>

                    <td>
                      {{trans?.currency}
                    </td>
              
                    <td>
                      {{trans?.date}}
                    </td>
              
              
                  </tr>
                </table>
              </div>

            </div>
        </div>
    </div>
  </div>