
  <div class="card mt-5 p-1 w-auto h-auto" >
    <h1 class="mb-3">
      USSD
    </h1>
    <div class="row p-1">
      <div class="col-4">
        <label for="selects"> Select Devices</label>
        <select class="form-select form-select-sm me-auto" id="selects" aria-label=".form-select-sm example">
          <option>
            NONE
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="card mt-2 w-auto h-auto" *ngIf="numbers.length table-responsive">
    <table id="displayingData">
      <tr>
        <th>
          <div class=" d-flex">
            <div class="check">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{areAllNumbersSelected}}" id="{{areAllNumbersSelected}}" (click)="allNumbersSelected($event)">
              </div>
            </div>
            <span>All</span>
          </div>
        </th>
        <th>
          Port
        </th>
        <th>
          Slot
        </th>
        <th>
          Number
        </th>
        <th>
          USSD Request
        </th>
        <th>
          USSD Status
        </th>
      </tr>
      <tr id="displayingNumbers" *ngFor="let n of this.numbers">
        <td>
          <div class=" d-flex">
            <div class="check">
              <div class="form-check">
                <input class="form-check-input" value="{{n.number}}" id="{{n.number}}" type="checkbox" (click)="specificNumbersSelected($event)" >
              </div>
            </div>
          </div>
        </td>
        <td>
          {{n.port}}
        </td>
        <td>
          {{n.slot}}
        </td>
        <td>
          {{n.number}}
        </td>
        <td>
          <input class="form-check-input" type="text" value="{{n.number}}" id="{{n.number}}" [disabled]="n.isDisabled == true"  style="width:40%">
        </td>
        <td>
          <input class="form-check-input" type="text" value="{{n.USSDStatus}}" id="{{n.number}}" style="width:70%">
        </td>
      </tr>
    </table>
  </div>

 
  