<div class="container h-auto p-2">
    <div class="row align-items-center h-100 p-2">
        <div class="col-12 mx-auto ">
          <div class="card h-auto shadow-sm p-3 mb-2 bg-white rounded border-primary justify-content-center">
                <div class="mb-10 p-2">
                  
                  <h1 class="display-4 justify-content-center">

                    <p>
                        Add Balance inquiry
                    </p>

                  </h1>
                  <!-- *ngFor="let packed of alloperators;" -->
                  <form  (ngSubmit)="save($event.submitter.id)">

                  <label for="select_mode" class="form-label ms-2 me-4 mt-2">Select Mode</label>

                  <select id="select_mode" (change)='get_mode()'   class="form-select  mb-1 ms-1 me-1"
                    aria-label=".form-select-sm example">
                    <option> 0</option>  
                    <option> 1</option>  
                  </select>

                  
                  <label for="list_selected" class="form-label ms-2 me-4 mt-2">Operator</label>

                  <select (change)="select_opcode()"
                  id="list_selected" class="form-select  mb-1 ms-1 me-1"
                    aria-label=".form-select-sm example">
                    
                    <option  *ngFor="let packed of alloperators;"
                    value="{{packed?.operator_code}}">
                      {{packed?.operator_code}}</option>
                  </select>

                  <div class="row-4 ">
                    <div class="col-12">
                      <label for="ussd_code" class="form-label ms-2 me-4 mt-2">Enter USSD Code</label>
                      <div class=" input-group">
                        <input type="text" [(ngModel)]="ussd_code"    id="ussd_code" placeholder="USSD Dial"  name="ussd_code" class="form-control">
                      </div>
                    </div>
                  </div>
                  
                  <div class="row-4 ">
                    <div class="col-12">
                      <label for="sms_num" class="form-label ms-2 me-4 mt-2">Enter SMS Number</label>
                      <div class=" input-group">
                        <input type="text" [(ngModel)]="sms_num"  id="sms_num" placeholder="sms number"  name="sms_num" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="row-4 ">
                    <div class="col-12">
                      <label for="sms_code" class="form-label ms-2 me-4 mt-2">Enter SMS Code</label>
                      <div class=" input-group">
                        <input type="text" [(ngModel)]="sms_code"  id="sms_code" placeholder="sms code"  name="sms_code" class="form-control">
                      </div>
                    </div>
                  </div>


                  <div class="row-4 ">
                    <div class="col-12">
                      <label for="rec_form" class="form-label ms-2 me-4 mt-2">Receive Format</label>
                      <div class=" input-group">
                        <input type="text" [(ngModel)]="rec_form"  id="rec_form" placeholder="receive format"  name="rec_form" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="row-4 ">
                    <div class="col-12">
                      <label for="max_inq" class="form-label ms-2 me-4 mt-2">Max Inquiry</label>
                      <div class=" input-group">
                        <input type="number" [(ngModel)]="max_inq"   id="max_inq" placeholder="max inquiry"  name="max_inq" class="form-control">
                      </div>
                    </div>
                  </div>


                  <div class="ms-auto mt-2 d-flex">

                    <button class="btn btn-outline-success me-1" id="create_it" type="submit">Save</button>
                    <button class="btn btn-outline-success " id="update_it" type="submit">Update</button>

                  </div>
                  </form>






                  
  
                </div>
            </div>
        </div>
    </div>
</div>


