
<!-- The sidebar -->
<div class="sidebar">
<a class="active" id="billingcontact" (click)="billingcontact()" [routerLink]='["./billingcontact"]'>Billing Contact</a>
<a id="transaction" (click)="transaction()" [routerLink]='["./transaction"]'>Transactions</a>
<a id="manage_cards" (click)="manage_cards()" [routerLink]='["./manage_cards"]'>Manage Cards</a>
<!-- <a id="usage" (click)="usage()" [routerLink]='["./usage"]'>Usage</a> -->
</div>




<!-- Page content -->
<div class="content">
  <h1>
    <router-outlet>
      Billing Zone
    </router-outlet>
  </h1>
</div>