
<div class="container h-auto w-auto p-2">
    <div class="row align-items-center h-100 p-2">
        <div class="col-12 mx-auto ">
          <div class="card h-auto  shadow-sm p-3 mb-5 bg-white rounded border-primary justify-content-center">
            <h1 >
              Add Card

              <form (ngSubmit) = "receive_card_details()">
                <div class="container-fluid mt-2">
                  <div class="row">
                    <div class="col-5">
                      <div class="container d-flex-inline">
                        <label for="number" class="form-label">Enter Card Number.</label>
                        <input type="number" [(ngModel)]=number id="number" placeholder="Card Number"  name="number" class="form-control">
                      </div>
                    </div>
  
                    <div class="col-5">
                      <div class="container d-flex-inline">
                        <label for="cvc" class="form-label">Enter Card CVC.</label>
                        <input type="number" id="cvc" [(ngModel)]=cvc placeholder="Card CVC"  name="cvc" class="form-control">
                      </div>
                    </div>
  
                  </div>
  
                  <div class="row mt-2">
                    <div class="col-5">
                      <div class="container d-flex-inline">
                        <label for="name" class="form-label">Enter Full Name on Card.</label>
                        <input type="text" id="name" [(ngModel)]=name placeholder="Full Name"  name="name" class="form-control">
                      </div>
                    </div>
  
                    <div class="col-5">
                      <div class="container d-flex-inline">

                        

                        <label for="date" class="form-label">Expiration date</label>

                        <div class="d-flex ">

                            <mat-datepicker #picker></mat-datepicker>
                            <input  (dateChange)="dateInput($event.value)" name="date" id="date" placeholder="Expiration date" class="form-control" matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle  [for]="picker" ></mat-datepicker-toggle>
                            

                        </div>

                            <!-- <input  id="date" placeholder="Expiration date" [(ngModel)]=date  name="date" class="form-control"> -->
                          
                      </div>
                    </div>
  
                  </div>
  
                  <div class="row mt-2">
                    <div class="col-8">
                      <div class="container d-flex-inline">
                        <label for="b_name" class="form-label">Bank Name</label>
                        <input type="text" id="b_name" [(ngModel)]=b_name placeholder="Bank Name"  name="b_name" class="form-control">
                      </div>
                    </div>
  
                  </div>
  
                  <div class="row mt-2">
                    <div class="col-8">
                      <div class="container d-flex-inline">
                        <button type="submit" class="btn btn-primary">
                          Add Card
                        </button>
                      </div>
                    </div>
  
                  </div>
  
                </div>
              </form>

            </h1>

            </div>

            <div class="card h-auto shadow-sm p-3 mb-5 bg-white rounded border-primary justify-content-center">

              <div class="d-flex">

                
            
                <!-- <div class="ms-auto">
            
                  <button id="update_card" mat-button class="btn btn-primary" (click)="open(content)">
                    Update info
                  </button>
            
                </div> -->
            
              </div>

            <div class="card mt-1 w-auto h-auto">
                <table>
                  <tr>
                    
                    <th>
                     Name
                    </th>
              
                    <th>
                      Card Number
                    </th>

                    <th>
                      Expiry Month
                    </th>

                    <th>
                      Expires Year
                    </th>

                  </tr>
              
                  <tr *ngFor="let data of get_card_details1">
              
                    <td>
                      {{data?.name}}
                    </td>
              
                    <td>
                      {{data?.display_number}}

                    </td>

                    <td>
                      {{data?.expiry_month}}
                    </td>
              
                    <td>
                      {{data?.expiry_year}}
                    </td>
              
              
                  </tr>
                </table>
              </div>
            </div>
        </div>
    </div>
  </div>

 
  



  <!-- <ng-template #date let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select Date</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div> -->
  <!-- </ng-template> --> 



  
  
 