<div class="container h-auto p-2">
    <div class="row align-items-center h-100 p-2">
        <div class="col-7 mx-auto ">
          <div class="card h-auto shadow-sm p-3 mb-5 bg-white rounded border-primary justify-content-center">
                <div class="mb-10 p-2">
                  
                  
                  <h1 class="display-4 justify-content-center">
                    Billing Details
                  </h1>
                  <div class="login-block d-flex justify-content-center" >

                    <div class="container-fluid mt-5">
  
                      <div class="row">
                        <div class="col-5">
                          <h3>
                            Account Name:
                          </h3>
                        </div>

                        <div class="col-3">
                          <h3 id="title">
                            title
                          </h3>
                        </div>

                      </div>

                      <div class="row mt-3">
                        <div class="col-5">
                          <h3>
                            Billing Email:
                          </h3>
                        </div>

                        <div class="col-5">
                          <h3 id="email">
                            test@gmail.com
                          </h3>
                        </div>

                      </div>

                      <div class="row mt-3">
                        <div class="col-5">
                          <h3>
                            Billing Mobile:
                          </h3>
                        </div>

                        <div class="col-3">
                          <h3 id="mobile">
                            +9230002000
                          </h3>
                        </div>

                      </div>

                    </div>
                  </div>
  
                </div>
            </div>
        </div>
    </div>
  </div>