

<div  style="align-items: flex-start;align-items:flex-end;display:flex;margin-left:50px;margin-top:100px;font-family: 'Times New Roman', Times, serif;font-size:medium">

  <div class="card p-4" >
  
    <div class="container ">
  
      <h1 class="mb-5 " >
  
        <b>
          Forgot Username
  
        </b>
          <i class="bi bi-info-circle"  >
        </i>
      </h1>
      
      <form (ngSubmit)="forget_username()">
  
        <div class="mb-3 d-inline">
          <label for="user_email" class="form-label">Email address</label>
          <input type="email" [(ngModel)]="user_email" class="form-control" id="user_email" name="user_email" 
          aria-describedby="emailHelp">
          <div id="emailHelp" style="font-size: small;" class="form-text mb-3">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="user_phone" class="form-label">Phone</label>
          <input type="number"  class="form-control" [(ngModel)]="user_phone" id="user_phone" name="user_phone">
        </div>
        
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
  
    </div>
  
  </div>
  
  <div class="card  ms-2 p-6 mt-4" >
  
    <div class="container ">
  
      <h1 class="mb-5" >
  
        <b>
          Forgot Password
  
        </b>
          <i class="bi bi-info-circle"  >
        </i>
      </h1>
      
      <form (ngSubmit)="forget_password()">
        <div class=" d-inline">
          <label for="user_name" class="form-label ">Username</label>
          <input type="text" [(ngModel)]="user_name" class="form-control mb-10" name="user_name" id="user_name" aria-describedby="emailHelp">
          
        </div>
        
        <button type="submit" class="btn btn-primary mb-10" >Send</button>
      </form>
    </div>
  
  </div>
</div>
