



  

  <div class="card mt-5 w-auto h-auto" >

    <div class="container-fluid ">

      <h1 class="mb-5" >

        <b>
          Forgot Username

        </b>
          <i class="bi bi-info-circle"  >
        </i>
      </h1>
      
      <form (ngSubmit)="forget_username()">

        <div class="mb-3 d-inline">
          <label for="user_email" class="form-label">Email address</label>
          <input type="email" [(ngModel)]="user_email" class="form-control" id="user_email" name="user_email" 
          aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="user_phone" class="form-label">Phone</label>
          <input type="number"  class="form-control" [(ngModel)]="user_phone" id="user_phone" name="user_phone">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

    

  </div>

  <div class="card mt-5 w-auto h-auto" >

    <div class="container-fluid ">

      <h1 class="mb-5" >

        <b>
          Forgot Password

        </b>
          <i class="bi bi-info-circle"  >
        </i>
      </h1>
      
      <form (ngSubmit)="forget_password()">
        <div class="mb-10 d-inline">
          <label for="user_name" class="form-label ">Username</label>
          <input type="text" [(ngModel)]="user_name" class="form-control mb-10" name="user_name" id="user_name" aria-describedby="emailHelp">
          
        </div>
        
        <button type="submit" class="btn btn-primary" >Send</button>
      </form>
    </div>

    
  

  </div>