
<div class="container h-auto p-2">
    <div class="row align-items-center h-100 p-2">
        <div class="col-12 mx-auto ">
          <div class="card h-auto shadow-sm p-3 mb-5 bg-white rounded border-primary justify-content-center">
            <div class="d-flex">

              <div class="d-flex">
                <h3 class="ms-1 mt-2">
                  Show
                </h3>
                <select class="form-select form-select-sm mb-1 ms-1 me-1" aria-label=".form-select-sm example">
                  <option selected>15</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
          
                <h4 class="me-2 mt-2 ">
                  entries 
                </h4>
          
          
          
              </div>
          
              <div class="ms-auto">
          
                <div class="d-flex-inline ms-auto"> 
                  <div class="row">
                    <div class="col-16">
                      <h4>
                        Total Messages
                      </h4>

                    </div>

                    <div class="col-10">
                      <p>
                        213
                      </p>
                    </div>
                  </div>
                </div>
          
              </div>
          
            </div>

          <div class="card mt-1 w-auto h-auto">
              <table>
                <tr>
                  <th>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                      <label class="form-check-label" for="flexCheckDefault">
                      </label>
                    </div>
                  </th>
            
                  <th>
                   Username
                  </th>
            
                  <th>
                    Quantity
                  </th>

                  <th>
                    Cost
                  </th>
                </tr>
            
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                      <label class="form-check-label" for="flexCheckDefault">
                      </label>
                    </div>
                  </td>
            
                  <td>
                    Awais
                  </td>
            
                  <td>
                    Hi! there. There are two onces
                  </td>
            
            
                </tr>
              </table>
            </div>
            </div>
        </div>
    </div>
  </div>