<div class="card mt-5 w-auto h-auto">


  <div class="d-flex">
    <h1 class="ms-2">
      <b>
        Manage Contact Lists

      </b>
    </h1>

    <div class="row ms-auto">

      <div class="col ms-auto">

        <button class="btn btn-outline-success ms-auto me-2" id="delete_it" (click)="C_Contact(C_List)"
          type="button">Create List</button>
        <button class="btn btn-outline-success ms-auto me-2" id="delete_it" (click)="C_Contact(C_List_u)"
          type="button">Update List</button>


        <button class="btn btn-outline-success ms-auto" id="delete_it" (click)="C_Contact(c_delete)"
          type="button">Delete List</button>

      </div>

    </div>

  </div>




</div>

<div class="card mt-1 w-auto h-auto">


  <div class="d-flex">

    <div class="d-flex">
      <h3 class="ms-3 mt-2">
        Show
      </h3>
      <select (change)='get_current_list()' id="list_selected" class="form-select form-select-sm mb-1 ms-1 me-1"
        aria-label=".form-select-sm example">
        <option selected>Default</option>
        <option *ngFor="let packed of get_contact_list2_top" value="{{packed?.list_id}}">{{packed?.list_name}}</option>

      </select>

      <h4 class="me-2 mt-2 ">
        entries
      </h4>



    </div>

    <div class="ms-auto d-flex">
      <mat-paginator (page)="ContactByPageno($event)" [length]="100" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>

    </div>



  </div>

</div>


<div class="card mt-1 w-auto h-auto table-responsive">
  <table>
    <tr>
      <th>
        <div class="form-check">
          <input class="form-check-input contacts_list" (change)="Checked_All()" type="checkbox" id="form_checked_list">

          <label class="form-check-label" for="flexCheckDefault">
          </label>
        </div>


      <th>
        List ID
      </th>

      <th>
        List Name
      </th>

      <th>
        List Email ID
      </th>

      <th>
        Contacts
      </th>
    </tr>

    <tr *ngFor="let packet of get_contact_list2">
      <td>
        <div class="form-check">
          <input class="form-check-input contacts_list" (change)="store_contact_list(packet,ischeck=!ischeck)"
            type="checkbox" id="form_checked_list">

          <label class="form-check-label" for="flexCheckDefault">
          </label>
        </div>
      </td>


      <td>
        {{packet?.list_id}}
      </td>

      <td>
        {{packet?.list_name}}
      </td>

      <td>
        {{packet?.list_email_id}}
      </td>

      <td>
        {{packet?._contacts_count}}
      </td>


    </tr>
  </table>
</div>

<ng-template #contact let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Contact</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container-fluid mt-2">

        <div class="row-4">
          <div class="col-12">
            <label for="title" class="form-label ms-2 me-4 mt-2">Enter Title</label>
            <div class="container input-group">
              <input type="text" id="title" placeholder="Title" name="title" class="form-control">
            </div>
          </div>
        </div>

        <div class="row-4 mt-2">
          <div class="col-12">
            <label for="message" class="form-label ms-2 me-2 mt-2">Enter Message</label>
            <div class="container input-group">
              <textarea type="text" id="message" placeholder="Message" name="message" class="form-control"></textarea>
            </div>
          </div>
        </div>


        <div class="row mt-2">
          <div class="col-8">
            <div class="container d-flex-inline input-group">
              <button type="submit" class="btn btn-primary modal-footer ms-auto">
                Create Contact
              </button>
            </div>
          </div>

        </div>

      </div>
    </form>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>

<ng-template #list_delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Template</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container-fluid mt-2">

        <div class="row-4 ms-auto">
          <div class="col-12">
            <h1>
              Are you sure to delete?
            </h1>
          </div>
        </div>

        <div class="row mt-2 ">
          <div class="col-6 ">
            <div class="container-fluid d-flex-inline ">
              <button type="button" aria-label="Close" (click)="modal.dismiss('Cross click')"
                class="btn btn-outline-dark modal-footer ">
                Cancel
              </button>
            </div>
          </div>

          <div class="col">
            <div class="container-fluid ">
              <button type="button" class="btn btn-primary modal-footer ">
                Ok
              </button>
            </div>
          </div>

        </div>



      </div>
    </form>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>

<ng-template #contact_delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Contact</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="d_Contact()">
      <div class="container-fluid mt-2">

        <div class="row-4 ms-auto">
          <div class="col-12">
            <h1>
              Are you sure to delete?
            </h1>
          </div>
        </div>

        <div class="row mt-2 ">
          <div class="col-6 ">
            <div class="container-fluid d-flex-inline ">
              <button type="button" aria-label="Close" (click)="modal.dismiss('Cross click')"
                class="btn btn-outline-dark modal-footer ">
                Cancel
              </button>
            </div>
          </div>

          <div class="col">
            <div class="container-fluid ">
              <button type="submit" class="btn btn-primary modal-footer ">
                Ok
              </button>
            </div>
          </div>

        </div>



      </div>
    </form>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>

<ng-template #c_delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Select List</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container-fluid mt-2">

        <div class="row-4 ms-auto">
          <div class="col-12">
            <h1>
              Are you sure to delete?
            </h1>
          </div>
        </div>

        <div class="row mt-2 ">
          <div class="col-6 ">
            <div class="container-fluid d-flex-inline ">
              <button type="button" aria-label="Close" (click)="modal.dismiss('Cross click')"
                class="btn btn-outline-dark modal-footer ">
                Cancel
              </button>
            </div>
          </div>

          <div class="col">
            <div class="container-fluid ">
              <button type="button" (click)="delete_list()" class="btn btn-primary modal-footer ">
                Ok
              </button>
            </div>
          </div>

        </div>


      </div>
    </form>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>

<ng-template #C_List let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create List</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="Create_List()">
      <div class="container-fluid mt-2">

        <div class="row-4">
          <div class="col-12">

            <label for="name" class="form-label ms-2 me-4 mt-2 container-fluid">Enter Name</label>
            <div class="container input-group">
              <input type="text" id="name" [(ngModel)]="List_name" placeholder="List Name" name="name"
                class="form-control">
            </div>
          </div>
        </div>

        <div class="d-flex p-1 m-2">
          <a type="button" class="btn btn-primary me-2">
            Cancel
          </a>

          <button type="submit" class="btn btn-primary">
            OK
          </button>
        </div>

      </div>
    </form>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>

<ng-template #C_contact let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Contact</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="Create_Contact()">
      <div class="container-fluid mt-2">

        <div class="row d-flex">
          <div class="col-6">

            <label for="create_Contact.first_name" class="form-label ms-2 me-4 mt-2 container-fluid">Enter First
              name</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.first_name" [(ngModel)]="create_Contact.first_name"
                placeholder="First Name (Required)" name="create_Contact.first_name" class="form-control" required>
            </div>
          </div>

          <div class="col-6">

            <label for="create_Contact.last_name" class="form-label ms-2 me-4 mt-2 container-fluid">Enter Last
              name</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.last_name" [(ngModel)]="create_Contact.last_name"
                placeholder="Last Name (Required)" name="create_Contact.last_name" class="form-control" required>
            </div>
          </div>
        </div>



        <div class="row d-flex">
          <div class="col-6">

            <label for="create_Contact.organization_name" class="form-label ms-2 me-4 mt-2 container-fluid">Organization
              Name</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.organization_name" [(ngModel)]="create_Contact.organization_name"
                placeholder="Organization" name="create_Contact.organization_name" class="form-control">
            </div>
          </div>

          <div class="col-6">

            <label for="create_Contact.phone_number" class="form-label ms-2 me-4 mt-2 container-fluid">Phone no.</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.phone_number" [(ngModel)]="create_Contact.phone_number"
                placeholder="Phone Number (Required)" name="create_Contact.phone_number" class="form-control">
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-6">

            <label for="create_Contact.email" class="form-label ms-2 me-4 mt-2 container-fluid">Email</label>
            <div class="container input-group">
              <input type="email" id="create_Contact.email" [(ngModel)]="create_Contact.email" placeholder="Email"
                name="create_Contact.email" class="form-control">
            </div>
          </div>
        </div>

        <div class="container-fluid row-4 d-flex">
          <div class="col-3">

            <label for="create_Contact.custom_1" class="form-label ms-2 me-4 mt-2 container-fluid">Custom 1</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.custom_1" [(ngModel)]="create_Contact.custom_1"
                placeholder="Custom 1" name="create_Contact.custom_1" class="form-control" required>
            </div>
          </div>

          <div class="col-3">

            <label for="create_Contact.custom_2" class="form-label ms-2 me-4 mt-2 container-fluid">Custom 2</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.custom_2" [(ngModel)]="create_Contact.custom_2"
                placeholder="Custom 2" name="create_Contact.custom_2" class="form-control">
            </div>
          </div>

          <div class="col-3">

            <label for="create_Contact.custom_3" class="form-label ms-2 me-4 mt-2 container-fluid">Custom 3</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.custom_3" [(ngModel)]="create_Contact.custom_3"
                placeholder="Custom 3" name="create_Contact.custom_3" class="form-control">
            </div>
          </div>

          <div class="col-3">

            <label for="create_Contact.custom_4" class="form-label ms-2 me-4 mt-2 container-fluid">Custom 4</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.custom_4" [(ngModel)]="create_Contact.custom_4"
                placeholder="Custom 4" name="create_Contact.custom_4" class="form-control">
            </div>
          </div>


        </div>

        <div class="row">
          <div class="col-12">

            <label for="create_Contact.address_line_1" class="form-label ms-2 me-4 mt-2 container-fluid">Address
              1</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.address_line_1" [(ngModel)]="create_Contact.address_line_1"
                placeholder="Address 1" name="create_Contact.address_line_1" class="form-control">
            </div>
          </div>

          <div class="col-12">

            <label for="create_Contact.address_line_2" class="form-label ms-2 me-4 mt-2 container-fluid">Address
              2</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.address_line_2" [(ngModel)]="create_Contact.address_line_2"
                placeholder="Address 2" name="create_Contact.address_line_2" class="form-control">
            </div>
          </div>
        </div>



        <div class="row d-flex">
          <div class="col">

            <label for="create_Contact.address_city" class="form-label ms-2 me-4 mt-2 container-fluid">City</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.address_city" [(ngModel)]="create_Contact.address_city"
                placeholder="City Name" name="create_Contact.address_city" class="form-control">
            </div>
          </div>

          <div class="col">

            <label for="create_Contact.address_state" class="form-label ms-2 me-4 mt-2 container-fluid">State</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.address_state" [(ngModel)]="create_Contact.address_state"
                placeholder="State Name" name="create_Contact.address_state" class="form-control">
            </div>
          </div>
        </div>

        <div class="row-4">

        </div>

        <div class="row d-flex">
          <div class="col">

            <label for="create_Contact.address_country"
              class="form-label ms-2 me-4 mt-2 container-fluid">Country</label>
            <div class="container input-group">
              <input type="text" id="create_Contact.address_country" [(ngModel)]="create_Contact.address_country"
                placeholder="Country Name" name="create_Contact.address_country" class="form-control">
            </div>
          </div>

          <div class="col">

            <label for="create_Contact.address_postal_code" class="form-label ms-2 me-4 mt-2 container-fluid">Post
              Code</label>
            <div class="container input-group">
              <input type="number" id="create_Contact.address_postal_code"
                [(ngModel)]="create_Contact.address_postal_code" placeholder="Postal Code"
                name="create_Contact.address_postal_code" class="form-control">
            </div>
          </div>
        </div>

        <div class="row-4">

        </div>

        <div class="row d-flex">
          <div class="col-12">

            <label for="create_Contact.fax_number" class="form-label ms-2 me-4 mt-2 container-fluid">Fax Number</label>
            <div class="container input-group">
              <input type="number" id="create_Contact.fax_number" [(ngModel)]="create_Contact.fax_number"
                placeholder="Fax Number" name="create_Contact.fax_number" class="form-control">
            </div>
          </div>
        </div>




        <div class="d-flex container-fluid p-1 ms-4">

          <a type="button" class="btn btn-primary me-2">
            Cancel
          </a>

          <button type="submit" class="btn btn-primary">
            OK
          </button>

        </div>

      </div>
    </form>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>


<ng-template #U_contact let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Contact</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="Update_Contacts()">
      <div class="container-fluid mt-2">

        <div class="row d-flex">
          <div class="col-6">

            <label for="Update_Contact.first_name" class="form-label ms-2 me-4 mt-2 container-fluid">Enter First
              name</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.first_name" [(ngModel)]="Update_Contact.first_name"
                placeholder="First Name (Required)" name="Update_Contact.first_name" class="form-control" required>
            </div>
          </div>

          <div class="col-6">

            <label for="Update_Contact.last_name" class="form-label ms-2 me-4 mt-2 container-fluid">Enter Last
              name</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.last_name" [(ngModel)]="Update_Contact.last_name"
                placeholder="Last Name (Required)" name="Update_Contact.last_name" class="form-control" required>
            </div>
          </div>
        </div>



        <div class="row d-flex">
          <div class="col-6">

            <label for="Update_Contact.organization_name" class="form-label ms-2 me-4 mt-2 container-fluid">Organization
              Name</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.organization_name" [(ngModel)]="Update_Contact.organization_name"
                placeholder="Organization" name="Update_Contact.organization_name" class="form-control">
            </div>
          </div>

          <div class="col-6">

            <label for="Update_Contact.phone_number" class="form-label ms-2 me-4 mt-2 container-fluid">Phone no.</label>
            <div class="container input-group">
              <input type="number" id="Update_Contact.phone_number" [(ngModel)]="Update_Contact.phone_number"
                placeholder="Phone Number (Required)" name="Update_Contact.phone_number" class="form-control">
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-6">

            <label for="Update_Contact.email" class="form-label ms-2 me-4 mt-2 container-fluid">Email</label>
            <div class="container input-group">
              <input type="email" id="Update_Contact.email" [(ngModel)]="Update_Contact.email" placeholder="Email"
                name="Update_Contact.email" class="form-control">
            </div>
          </div>
        </div>

        <div class="container-fluid row-4 d-flex">
          <div class="col-3">

            <label for="Update_Contact.custom_1" class="form-label ms-2 me-4 mt-2 container-fluid">Custom 1</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.custom_1" [(ngModel)]="Update_Contact.custom_1"
                placeholder="Custom 1" name="Update_Contact.custom_1" class="form-control" required>
            </div>
          </div>

          <div class="col-3">

            <label for="Update_Contact.custom_2" class="form-label ms-2 me-4 mt-2 container-fluid">Custom 2</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.custom_2" [(ngModel)]="Update_Contact.custom_2"
                placeholder="Custom 2" name="Update_Contact.custom_2" class="form-control">
            </div>
          </div>

          <div class="col-3">

            <label for="Update_Contact.custom_3" class="form-label ms-2 me-4 mt-2 container-fluid">Custom 3</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.custom_3" [(ngModel)]="Update_Contact.custom_3"
                placeholder="Custom 3" name="Update_Contact.custom_3" class="form-control">
            </div>
          </div>

          <div class="col-3">

            <label for="Update_Contact.custom_4" class="form-label ms-2 me-4 mt-2 container-fluid">Custom 4</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.custom_4" [(ngModel)]="Update_Contact.custom_4"
                placeholder="Custom 4" name="Update_Contact.custom_4" class="form-control">
            </div>
          </div>


        </div>

        <div class="row">
          <div class="col-12">

            <label for="Update_Contact.address_line_1" class="form-label ms-2 me-4 mt-2 container-fluid">Address
              1</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.address_line_1" [(ngModel)]="Update_Contact.address_line_1"
                placeholder="Address 1" name="Update_Contact.address_line_1" class="form-control">
            </div>
          </div>

          <div class="col-12">

            <label for="Update_Contact.address_line_2" class="form-label ms-2 me-4 mt-2 container-fluid">Address
              2</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.address_line_2" [(ngModel)]="Update_Contact.address_line_2"
                placeholder="Address 2" name="Update_Contact.address_line_2" class="form-control">
            </div>
          </div>
        </div>



        <div class="row d-flex">
          <div class="col">

            <label for="Update_Contact.address_city" class="form-label ms-2 me-4 mt-2 container-fluid">City</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.address_city" [(ngModel)]="Update_Contact.address_city"
                placeholder="City Name" name="Update_Contact.address_city" class="form-control">
            </div>
          </div>

          <div class="col">

            <label for="Update_Contact.address_state" class="form-label ms-2 me-4 mt-2 container-fluid">State</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.address_state" [(ngModel)]="Update_Contact.address_state"
                placeholder="State Name" name="Update_Contact.address_state" class="form-control">
            </div>
          </div>
        </div>

        <div class="row-4">

        </div>

        <div class="row d-flex">
          <div class="col">

            <label for="Update_Contact.address_country"
              class="form-label ms-2 me-4 mt-2 container-fluid">Country</label>
            <div class="container input-group">
              <input type="text" id="Update_Contact.address_country" [(ngModel)]="Update_Contact.address_country"
                placeholder="Country Name" name="Update_Contact.address_country" class="form-control">
            </div>
          </div>

          <div class="col">

            <label for="Update_Contact.address_postal_code" class="form-label ms-2 me-4 mt-2 container-fluid">Post
              Code</label>
            <div class="container input-group">
              <input type="number" id="Update_Contact.address_postal_code"
                [(ngModel)]="Update_Contact.address_postal_code" placeholder="Postal Code"
                name="Update_Contact.address_postal_code" class="form-control">
            </div>
          </div>
        </div>

        <div class="row-4">

        </div>

        <div class="row d-flex">
          <div class="col-12">

            <label for="Update_Contact.fax_number" class="form-label ms-2 me-4 mt-2 container-fluid">Fax Number</label>
            <div class="container input-group">
              <input type="number" id="Update_Contact.fax_number" [(ngModel)]="Update_Contact.fax_number"
                placeholder="Fax Number" name="Update_Contact.fax_number" class="form-control">
            </div>
          </div>
        </div>




        <div class="d-flex container-fluid p-1 ms-4">

          <a type="button" class="btn btn-primary me-2">
            Cancel
          </a>

          <button type="submit" class="btn btn-primary">
            OK
          </button>

        </div>

      </div>
    </form>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>

<ng-template #C_List_u let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update List</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="Update_List()">
      <div class="container-fluid mt-2">

        <div class="row-4">

          <!-- <div class="col-12">
            <div class="d-flex">

              <div class="d-flex">
                <h3 class="ms-3 mt-2">
                  Show
                </h3>
                <select id="selected_list" class="form-select form-select-sm mb-1 ms-1 me-1" aria-label=".form-select-sm example">
                  <option selected>Open this select menu</option>
                  <option *ngFor="let packet of get_contact_list2" value="{{packet?.list_id}}">{{packet?.list_name}}</option>
                  
                </select>
          
                <h4 class="me-2 mt-2 ">
                  List
                </h4>
              </div>
            </div>
            
          </div> -->


          <div class="col-12">

            <label for="name" class="form-label ms-2 me-4 mt-2 container-fluid">Enter Name</label>
            <div class="container input-group">
              <input type="text" id="name" [(ngModel)]="List_name_u" placeholder="List Name" name="name"
                class="form-control">
            </div>
          </div>
        </div>

        <div class="d-flex p-1 m-2">
          <a type="button" class="btn btn-primary me-2">
            Cancel
          </a>

          <button type="submit" class="btn btn-primary">
            OK
          </button>
        </div>

      </div>
    </form>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>


<div class="card mt-5 w-auto h-auto">


  <div class="d-flex">
    <h1 class="ms-2">
      <b>
        Manage Contacts

      </b>
    </h1>

    <div class="row ms-auto">

      <div class="col ms-auto">
        <button class="btn btn-outline-success ms-auto me-2" id="create_it" (click)="C_Contact(C_contact)"
          type="button">Create Contact</button>
        <button class="btn btn-outline-success ms-auto me-2" id="delete_it" (click)="C_Contact(U_contact)"
          type="button">Update Contact</button>


        <button class="btn btn-outline-success ms-auto" id="delete_it" (click)="C_Contact(contact_delete)"
          type="button">Delete Contact</button>

      </div>

    </div>

  </div>




</div>

<div class="card mt-1 w-auto h-auto">


  <div class="d-flex">

    <div class="d-flex">
      <h3 class="ms-3 mt-2">
        Show
      </h3>
      <select (change)="onSelected_list($event,'')" class="form-select form-select-sm mb-1 ms-1 me-1 selected_lists"
        aria-label=".form-select-sm example">

        <option selected>Open this select menu</option>
        <option *ngFor="let packet of get_contact_list2" value="{{packet?.list_id}}">{{packet?.list_name}}</option>
      </select>

      <h4 class="me-2 mt-2 ">
        Lists
      </h4>
    </div>


    <div class="ms-auto d-flex">
      <mat-paginator (page)="ContactsByPageno($event)" [length]="100" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>

    </div>



  </div>

</div>


<div class="card mt-1 w-auto h-auto table-responsive" ng-app="">
  <table>
    <tr>
      <th>
        <div class="form-check">
          <input class="form-check-input contact_select" type="checkbox" value="" id="form_checked_contact"
            (change)="Update_contact_checkedAll()">
          <label class="form-check-label" for="flexCheckDefault">
          </label>
        </div>
      </th>

      <th>
        First Name
      </th>

      <th>
        Last Name
      </th>

      <th>
        Phone Number
      </th>

      <th>
        Custom 1
      </th>

      <th>
        Email
      </th>


      <th>
        Country
      </th>


    </tr>

    <tr *ngFor="let data of get_contacts3_data">
      <td>
        <div class="form-check">
          <input class="form-check-input contact_select" type="checkbox" id="form_checked_contact"
            value="{{data.contact_id}}" (change)="Update_contact_byOne(data?.contact_id)">
          <label class="form-check-label" for="flexCheckDefault">
          </label>
        </div>
      </td>

      <td>
        {{data?.first_name}}
      </td>

      <td>
        {{data?.last_name}}
      </td>

      <td>
        {{data?.phone_number}}
      </td>

      <td>
        {{data?.custom_1}}
      </td>

      <td>
        {{data?.email}}
      </td>

      <td>
        {{data?.address_country}}
      </td>




    </tr>
  </table>
</div>