<div style="font-family: 'Times New Roman', Times, serif;font-size:medium">



<div class="container h-auto p-2">
    <div class="row align-items-center h-100 p-2">
        <div class="col-12 mx-auto ">
          <div class="card h-auto shadow-sm p-3 mb-5 bg-white rounded border-primary justify-content-center">
                <div class="mb-10 p-2">
                  
                  <h1 class="display-4 justify-content-center">
                    Devices
                  </h1>
                  <div class="login-block d-flex justify-content-center" >

                    <div class="container-fluid mt-5">

                        <div class="row d-flex">
                            <div class="col-8">
                                <select  id="list_selected" class="form-select form-select-sm mb-1 ms-1 me-1"
                                aria-label=".form-select-sm example">
                                <option selected>Default</option>
                                <option *ngFor = "let data of this.devices_list" (click) = filterby(data?.id)  value="data?.id">{{data?.device}}</option>
                              </select>
                            </div>

                            <div class="col-2">
                                <select  id="list_selected" class="form-select form-select-sm mb-1 ms-1 me-1"
                                aria-label=".form-select-sm example">
                                <option selected>Auto</option>
                        
                              </select>
                            </div>
                        </div>


                    </div>
                  </div>
  
                </div>
            </div>
        </div>
    </div>
  </div>
<!-- New Work committed -->
  <div class="container h-auto p-2 ">
    <div class="row align-items-center h-100 p-2">
        <div class="col-12 mx-auto ">
          <div class="card h-auto shadow-sm p-3 mb-5 bg-white rounded border-primary justify-content-center">
                <div >
                  
                  <h1 class="display-4 justify-content-center">
                    Devices Management
                  </h1>
                  <div class=" card d-flex justify-content-center table-responsive" >
                    <table class="test">
                        <tr>

                          <th>
                            Name
                          </th>
                          
                          <th>
                            Slot
                          </th>
                          <th>
                            Number
                          </th>
                          <th>
                            Balance
                          </th>
                          <th>
                            Date
                          </th>
                          <th>
                            Time
                          </th>
                          <th>
                            Sim Status
                          </th>
                          <th>
                            Success %
                          </th>
                          <th>
                            Delay
                          </th>
                          <th>
                            Phone Status
                          </th>
                          <th>
                            Top up
                          </th>
                          <th>
                            Action
                          </th>
                          
                          

                        </tr>

                        <tr *ngFor= "let sim_data of device_list_details,index as i" class="hover-highlight" value = "sim_data?.id">

                            <td >
                                {{sim_data?.sim}}
                            </td> 

                            <td >
                              {{sim_data?.slot}}
                          </td> 

                            <td class="btn btn-light"   (click)="popup = true">
                                {{sim_data?.number}}
                            </td>
                            <td class="table-row-action">
                                {{sim_data?.balance}}
                            </td>
                            <td>
                                {{sim_data?.date}}
                            </td>
                            <td >
                                {{sim_data?.time}}
                            </td>
                            <td >
                                {{sim_data?.sim_Status}}
                            </td>

                            <td >
                              {{sim_data?.success}}
                          </td>

                            <td >
                              {{sim_data?.delay}}
                            </td>

                            <td >
                              {{sim_data?.phone_Status}}
                          </td>

                          <td >
                            {{sim_data?.top_up}}
                          </td>
                          <td>
                            <button class="btn btn-primary ms-1 mt-1 mb-1 me-1" value="{{i}}" (click)="actionEditSlot(EDIT_SLOT, i)">
                              Edit Slot
                            </button>
                            <button class="btn btn-primary ms-1 mt-1 mb-1 me-1" (click)="actionEditNumber(EDIT_NUMBER, i)">
                              Edit Number
                            </button>
                          </td>

                          
                          

                          <div class="overlay" *ngIf="popup">
                            <div class="popup">
                                <h2>Details</h2>
                                <a class="close" (click)="popup = false">&times;</a>
                                <div class="content">

                                  <div class="row">

                                    <div class="col">
                                      <th>
                                        IMEI
                                      </th>
                                      
                                    </div>

                                    <div class="col">

                                      <th>
                                        Android Version
                                      </th>
                                    </div>

                                    

                                  </div>


                                  <div class="row">
                                    <div class="col">

                                      <td >
                                        {{sim_data?.imei}}
                                       
                                    </td>
    
                                  </div>
                                  <div class="col">

                                    <td >
                                      {{sim_data?.android_ver}}
                                    </td>
                                  </div>

                                  


                                  </div>
                                  
                                

                                </div>
                            </div>
                        </div>

                        </tr>

                      </table>
                      
                    
                  </div>
                     
  
                </div>
            </div>
        </div>
    </div>
  </div>

</div>



<ng-template #EDIT_SLOT let-modal>
  <div  class=" mt-100 " style="font-size: large;font-family:'Times New Roman', Times, serif ;">
    <p>Edit Slot</p>
    <div class="card mt-5 w-auto h-auto">
        <div>
          <div class="container-fluid ">
            <form>
              <div class="card-block">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">For Number </label>
                  <input type="string" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="messageFrom" disabled = true value="{{device_list_details[selectedRowIndex].number}}">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Slot</label>
                  <input type="string" class="form-control" id="exampleInputPassword1" placeholder="1" name="messageTo" value="{{device_list_details[selectedRowIndex].slot}}">
                </div>
                <div>
                    <span>
                        <button class="btn btn-primary mb-1">Update Slot</button>
                    </span>
                    <span>
                        <button class="btn btn-info ms-1 mt-1 mb-1 me-1" (click)= "modal.dismiss('Cross click')" >Cancel</button>
                    </span>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</ng-template>

<ng-template #EDIT_NUMBER let-modal>
  <div  class=" mt-100 " style="font-size: large;font-family:'Times New Roman', Times, serif ;">
    <p>Edit Number</p>
    <div class="card mt-5 w-auto h-auto">
        <div>
          <div class="container-fluid ">
            <form>
              <div class="card-block">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">For Slot </label>
                  <input type="string" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="messageFrom" disabled = true value="{{device_list_details[selectedRowIndex].slot}}">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Number</label>
                  <input type="string" class="form-control" id="exampleInputPassword1" placeholder="+921234567891" name="messageTo" value="{{device_list_details[selectedRowIndex].number}}">
                </div>
                <div>
                    <span>
                        <button class="btn btn-primary mb-1">Update Number</button>
                    </span>
                    <span>
                        <button class="btn btn-info ms-1 mt-1 mb-1 me-1" (click)= "modal.dismiss('Cross click')" >Cancel</button>
                    </span>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</ng-template>

   
