  <!-- Page content -->
  <!-- The sidebar -->
<!-- <div class="sidebar">
  <a  id="operator" (click)="Operator()"  [routerLink]='["./operator"]'>Operators</a>
  <a id="add_sms" (click)="Add_SMS()"  [routerLink]='["./add_sms"]'>Add Balance Queries</a>
  <a id="add_ussd" (click)="Add_USSD()" [routerLink]='["./add_ussd"]'>Add Number Queries</a>
  <a id="send_sms"  (click)="Send_SMS()" [routerLink]='["./send_sms"]'>Send SMS</a>
  <a id="send_ussd" (click)="Send_USSD()" [routerLink]='["./send_ussd"]'>Send USSD</a>
  </div> -->
  
  <div style="font-family: 'Times New Roman', Times, serif;font-size:medium">
    <h1>
      <router-outlet>
      </router-outlet>
    </h1>
  </div>
  

